.ipynb_checkpoints/*
__pycache__/*
Leaves/*
Leaves_Masked/*
Processed_Leaves/*
Dataset_10FoldCV_indexed_models/*
Vein_images/*
LEAF_v19/*
features_data/*
!features_data/labels.npy
*.ipynb
*.csv
!LEAF_v20/*
!Dataset_10FoldCV_indexed.csv
!Dataset_10FoldCV_random.csv
.vscode/*
.gitignore
data_helper.py

